@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: rgba(51, 51, 51, 1);
  background-color: rgba(255, 255, 255, 1);
}

.page-header {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-transform: capitalize;
  font-weight: 700;

}

.navigation-list {
  font-size: 20px;
  line-height: 24px;
}

.navigation-list-link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  line-height: 24px;
  font-size: 20px;
}

.favorite-count {
  border-radius: 10px 10px;
  background-color: rgba(125, 181, 79, 1);
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.title-h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

}

.text-description-h2 {
  font-size: 22px;
  line-height: 26px;
  text-align: center;

}

.white-text {
  color: white;
}

.newsletter-container {
  background-color: rgba(130, 179, 211, 1);
  background-image: url("../images/subscribe.jpg");
  width: 1200px;
  height: 414.86px;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.title-reasons-and-services {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.description-reasons-and-services {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-transform: none;
}



.container-blue {
  background-color: rgba(130, 179, 211, 1);
}


.container-gray {
  background-color: rgba(131, 179, 211, 0.2);
}

.phone {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  font-style: normal;
}

.navigation-list {
  list-style-type: none;
}

.reasons-list {
  list-style-type: none;
}

.services-list {
  list-style-type: none;
}

.social-list {
  list-style-type: none;
}

.filter-container {
  background-color: rgba(130, 179, 211, 1);
  color: white;
  background-image: url("../images/Catalog/filter.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.form-filters-list {
  list-style-type: none;
}

.breadcrumbs-list {
  list-style-type: none;
}

.forms-filters-list {
  list-style-type: none;
}

.hotel-sorting-list {
  list-style-type: none;
}

.catalog-list {
  list-style-type: none;
}

.pagination-list {
  list-style-type: none;
}

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs-list-links {
  font-size: 16px;
  line-height: 21px;
}

.forms-group-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize
}

.input-checkbox-text {
  font-size: 18px;
  line-height: 23px;
}

.hotel-search {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.view-image {
  border: 16px solid white;
}

.catalog-list {
  padding: 20px;
}

.catalog-card-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.cards-conditions {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
}

.catalog-card-rate {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  border: 4px solid rgba(242, 242, 242, 1);
  text-align: center;
  background-color: rgba(242, 242, 242, 1);
  color: rgba(51, 51, 51, 1);
}

.button-pagination {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: rgba(130, 179, 211, 1);
  border: none;
  width: 60px;
  height: 60px;
  margin: 8px;
}

.current-paggination {
  background-color: rgba(242, 242, 242, 1);
  color: rgba(0, 0, 0, 1)
}

.empty-pagination {
  color: rgba(0, 0, 0, 1);
  background-color: white;
}

.newsletter-catalog {
  text-align: center;
}

.newsletter-head-catalog {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-description-catalog {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.input-newsletter-text {
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  width: 452px;
  height: 52;
  background-color: rgba(242, 242, 242, 1);
  border: none;

}

.button {
  background-size: 232px 52px;
  background-color: rgba(130, 179, 211, 1);
  border: none;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 4px 4px;
}

.button-catalog-active {
  background-color: rgba(125, 181, 79, 1);
}

.button-subscribe {
  width: 232px;
  height: 52px;
}

.forms-group {
  border: none;
}

.button-navigation-list-link {
  background-color: rgba(117, 97, 87, 1);
  width: 160px;
  height: 36px;
}

.button-apply {
  width: 191px;
  height: 36px;
}

.button-catalog-more-details {
  background-color: rgba(117, 97, 87, 1);
  width: 140px;
  height: 46px;
}

.button-to-favorite {
  width: 140px;
  height: 46px;
}

.button-large-to-catalog {
  background-color: rgba(117, 97, 87, 1);
  width: 376px;
  height: 52px;
}
