@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Basic */
html {
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f3f3f3;
  margin: 0;
  min-width: 1280px;
  height: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0);
  clip-path: inset(100%);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
}

.container {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

img {
  max-width: 100%;
  object-fit: contain;
}

/* End Basic */


/* Modificators */
.title-h1,
.title-h2,
.title-h3 {
  color: #000000;
  font-weight: 700;
}

.title-h1 {
  font-size: 60px;
  line-height: 78px;
}

.title-h2 {
  font-size: 30px;
  line-height: 36px;
}

.title-h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.text-description-h2 {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 88px;
}

.text-white {
  color: #ffffff;
}


.text-error,
.field:invalid {
  color: #ff5757;
}

.input-decoration:focus {
  outline: 3px solid rgb(131, 179, 211);
}

.input-decoration:focus:not(:focus-visible) {
  outline: none;
}

.input-decoration:focus-visible {
  outline: 3px solid rgb(131, 179, 211);
}

/* End Modificators */


/* Кнопки */
.button {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  border: 1px solid transparent;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  padding: 8px 10px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  color: #ffffff;
  background-color: #e5e5e5;

}

.button-primary-decoration:hover {
  background-color: #68a2ca;
}

.button-primary-decoration:focus {
  background-color: #68a2ca;
}

.button-link-decoration:hover {
  background-color: #615048;
}

.button-link-decoration:focus {
  background-color: #615048;
}

.button-active:hover {
  background-color: #6c9e42;
}

.button-active:focus {
  background-color: #6c9e42;
}

.button-locked {
  background-color: #e5e5e5;
}

.button-subscribe {
  font-size: 20px;
  line-height: 36px;
  width: 232px;
  min-height: 52px;
  background-color: #82b3d3;
  border-radius: 0 4px 4px 0;
  padding-bottom: 6px;
}

.button-navigation-list-link {
  position: relative;
  transform: translateX(-3px);
  background-color: #756157;
  min-width: 160px;
  min-height: 36px;
  padding: 8px 30px;
}

.button-apply {
  min-width: 191px;
  min-height: 36px;
  background-color: #82b3d3;
}

.button-reset {
  min-width: 191px;
  min-height: 36px;
  background-color: transparent;
}

.button-reset:hover {
  opacity: 0.3;
}

.button-reset:focus {
  outline: 3px solid #83b3d3;
}

.button-reset:focus:not(:focus-visible) {
  outline: none;
}

.button-reset:focus-visible {
  outline: 3px solid #83b3d3;
}

.button-reset:disabled {
  opacity: 0.1;
}

.button-catalog-more-details {
  background-color: #756157;
}

.button-action {
  min-width: 140px;
  min-height: 36px;
  background-color: #82b3d3;
}

.button-active {
  background-color: #7db54f;
}

.button-large-to-catalog {
  display: block;
  background-color: #756157;
  min-width: 376px;
  min-height: 52px;
  font-size: 20px;
  line-height: 36px;
  margin: 0 auto;
}

.modal-button-find {
  grid-column: 1/-1;
  font-size: 20px;
  min-width: 577px;
  min-height: 60px;
  background-color: #83b3d3;
}

.modal-button-find:hover,
.modal-button-find:focus {
  background-color: #68a2ca;
}

.modal-button-find:active {
  color: rgba(255, 255, 255, 0.3)
}

/* End Кнопки */


/* Header */
.page-header {
  margin-bottom: -8px;
  padding-bottom: 2px;
  z-index: 2;
}

.navigation {
  display: flex;
  gap: 31px;
}

.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-current::after {
  position: absolute;
  content: "";
  left: 12px;
  right: 12px;
  bottom: 0;
  top: 63px;
  height: 2px;
  background-color: #756257;
}

.navigation-list-button {
  background-color: transparent;
  border: none;
  padding: 22px 12px;
}


.navigation-search {
  cursor: pointer;
}

.navigation-search:hover,
.navigation-favorite:hover {
  color: #83b3d3;
}

.navigation-favorite:focus,
.navigation-search:focus {
  outline: 3px solid #83b3d3;
  color: #83b3d3;
}


.navigation-search:active,
.navigation-favorite:active {
  color: #d3d3d3;
}

.navigation-svg {
  display: block;
}

.navigation-favorite {
  position: relative;
  cursor: pointer;
  margin-right: 25px;
}

.navigation-favorite::after {
  position: absolute;
  content: "12";
  top: 8px;
  right: 2px;
  font-family: "PT Sans", sans-serif;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  background-color: #7db54f;
  color: #ffffff;
}

.navigation-list-link {
  position: relative;
  display: block;
  color: #000000;
  text-decoration: none;
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 16px;
}

.navigation-list-link:hover::after {
  position: absolute;
  content: "";
  left: 12px;
  right: 12px;
  top: 63px;
  background-color: #756257;
  height: 2px;
}

.navigation-list-link:focus {
  outline: 2px solid #68a2ca;
}

.navigation-list-link:active {
  opacity: 0.6;
}

.navigation-list-menu {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  max-width: 594px;
  margin-left: -2px;
}

.navigation-list-user .navigation-list-item:nth-child(3) {
  margin-top: 12px;
}

.navigation-list-menu .navigation-list-item {
  margin-bottom: 6px;
}

.navigation-list-user {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4px;
  margin-right: -4px;
}

.logo-image {
  display: block;
}

.header-logo-link:focus {
  outline: 3px solid #83b3d3;
}

/* End Header */


/* Main */
/* Main-index */
.main-general {
  flex-grow: 1;
}

.hero {
  margin-bottom: 65px;
}

/* Услуги и преимущества */
.reasons {
  margin-bottom: 64px;
}

.reasons-title {
  margin: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
  text-align: center;
  padding: 0 10px;
}

.reasons-title-low {
  text-align: center;
  padding: 0 10px;
}

.reasons-and-services-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 81px 10px;
  aspect-ratio: 80/77;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.reasons-list-item:last-child {
  display: flex;
  flex-direction: row-reverse;
}


.title-reasons {
  position: relative;
  margin: 0;
  margin-bottom: 30px;
  padding-bottom: 32px;
  text-transform: uppercase;
}

.title-reasons::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  width: 60px;
  transform: translateX(-50%);
}

.reasons-primary-decoration {
  color: #ffffff;
}

.reasons-primary-decoration::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.reasons-description {
  margin: 0;
}

.services {
  margin: 0;
  margin-bottom: 96px;
}

.services-title {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.services-title-low {
  text-align: center;
  margin: 0;
  margin-bottom: 64px;
}

.services-title-card {
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.services-description-card {
  margin: 0;
}


.services-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.image-service {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.card-primary {
  display: flex;
  background-color: #82b3d3;
  width: 100%;
}

.card-index {
  width: 400px;
}

.card-minor {
  background-color: rgba(131, 179, 211, 0.12);
}

.card-accent {
  background-color: rgba(131, 179, 211, 0.20);
}

.card-reverse {
  flex-direction: row-reverse;
}

/* End Услуги и преимущества */

.total {
  margin-bottom: 94px;
  padding: 0 10px;
}

.total-title {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.total-title-low {
  margin-bottom: 54px;
  text-align: center;
}

/* End Main-index */

/* Main-catalog */
/* Фильтр */
.inner-header {
  margin-left: -4px;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 8px;
}

.filter {
  display: flex;
  flex-direction: column;
  background-color: #82b3d3;
  background-image: url("../images/catalog/filter.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 35px;
  padding-bottom: 70px;
  padding-left: 9px;
  margin-bottom: 49px;

}

.forms-filters {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.checkbox-infrastructure {
  margin-right: 68px;
  margin-left: -2px;
}

.radio-housing {
  margin-right: auto;
}

.form-price {
  display: flex;
  justify-content: center;
  gap: 2px;
  margin-right: 70px;
  position: relative;
}

.forms-input-points {
  position: relative;
  display: block;
  padding-left: 34px;

}

.control-mark {
  position: absolute;
  left: -2px;
  top: 2px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
}

.forms-control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 10px;
  width: 12px;
  background-image: url("../images/icons/check-mark.svg");
  background-repeat: no-repeat;
  transform: translateY(-50%) translateX(-50%);
}

.forms-housing .control-mark {
  border-radius: 50%;
}

.forms-control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: #3f5e72;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.forms-input-points:hover {
  opacity: 0.6;
}

.forms-group {
  border: none;
  padding: 0;
}

.forms-group-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 32px;
  padding: 0;
}

.forms-filters-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.forms-filters-list-item {
  margin-bottom: 16px;
}

.forms-filters-list-item:nth-last-child(1) {
  margin-bottom: 0;
}

.forms-radio-filters-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.forms-filters-price-control {
  position: relative;
}

.price-from::after {
  position: absolute;
  content: "от";
  top: 12px;
  right: 20px;
  line-height: 21px;
  color: #000000;
  opacity: 0.4;
}

.price-to::after {
  position: absolute;
  content: "до";
  top: 12px;
  right: 20px;
  line-height: 21px;
  color: #000000;
  opacity: 0.4;
}

.forms-group-toggle-svg {
  position: absolute;
  top: 83px;
  left: 0;
}

.forms-hotel-filters-price-control {
  font-size: 18px;
  font-family: "PT Sans", sans-serif;
  line-height: 24px;
  font-weight: 700;
  width: 143px;
  padding: 12px 20px;
  padding-right: 40px;
  border-radius: 4px;
  border: none;
  background-color: #f2f2f2;
}

.forms-hotel-filters-price-control::-webkit-outer-spin-button,
.forms-hotel-filters-price-control::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
  appearance: none;
}

.range {
  display: flex;
  flex-wrap: wrap;
  width: 288px;
}

.range-wrapper-inputs {
  display: flex;
  gap: 2px;
  margin-bottom: 44px;
  flex-wrap: wrap;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: #808080;
  border-radius: 4px;
  transform: rotate(180deg);
  width: 287px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.forms-filters-scale-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}

.forms-filters-scale-toggle:active {
  background-color: #d3d3d3;
}

.forms-filters-scale-toggle:hover,
.forms-filters-scale-toggle:focus {
  outline: 2px solid #68a2ca;
}

.toggle-from {
  right: 0;
  top: 50%;
  transform: translateY(-50%)
}

.toggle-to {
  top: 50%;
  transform: translateY(-50%)
}

.input-checkbox-point {
  line-height: 23px;
}

.hotel-filters-housing-point {
  line-height: 23px;
}

.forms-buttons-apply-reset-container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin-top: 55px;
  transform: translate(-2px);
}

/* End Фильтр */

/* Хлебные крошки */
.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.breadcrumbs-title {
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-list-link {
  display: block;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-list-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-list-link:focus {
  outline: 2px solid #68a2ca;
}

.breadcrumbs-list-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.class-home {
  position: relative;
  margin-right: 17px;
}

.class-home:not(:last-child)::after {
  position: absolute;
  content: "";
  top: 5px;
  left: 23px;
  background-image: url("../images/icons/breadcrumbs-vector-1.svg");
  background-repeat: no-repeat;
  background-position: center;
  min-width: 8px;
  min-height: 11px;
}

.class-home:focus {
  outline: 3px solid #83b3d3;
}

/* End Хлебные крошки */


/* Сортировка */
.sorting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 37px;
}

.sorting-search-title {
  margin: 0;
  margin-right: auto;
  padding-right: 5px;
  text-transform: uppercase;
}

.view-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 8px;
}

.view-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #e5e5e5;
  width: 48px;
  height: 48px;
  border-radius: 4px;
}

.view-current {
  border-color: #000000;
}

.view-list-link:hover {
  border-color: #000000;
}

.view-list-link:focus,
.view-list-link:focus-visible {
  border: 3px solid #68a2ca;
  outline: none;
}

.view-list-link:active {
  border-color: #000000;
}

.view-card-list-link {
  display: block;
  background-image: url("../images/icons/view-cards.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.view-slider-list-link {
  display: block;
  background-image: url("../images/icons/view-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.view-list-list-link {
  display: block;
  background-image: url("../images/icons/view-list.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.select-sort-list {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  min-width: 292px;
  min-height: 49px;
  padding: 14px 20px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding-right: 32px;
  appearance: none;
  background-image: url("../images/icons/arrow-select.svg");
  background-repeat: no-repeat;
  background-position: right 14px center;
  cursor: pointer;
}

.select-sort-list:disabled {
  color: rgba(0, 0, 0, 0.3);
}

.select-sort-list:hover {
  border-radius: 4px;
  outline: 3px solid #83b3d3;
}

.select-list-sort-label {
  margin-right: 70px;
}

/* End Сортировка */


/* Каталог */
.catalog-header {
  margin-left: 4px;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px 20px;
  padding: 0;
  margin: 0;
  margin-bottom: 77px;
  list-style-type: none;
}

.catalog-list-item {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 212px 1fr;
  align-items: center;
  min-height: 438px;
  padding: 20px;
  gap: 16px 20px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
}

.catalog-card-type {
  margin: 0;
}

.catalog-card-price {
  text-align: right;
  margin: 0;

}


.catalog-card-image {
  display: block;
  grid-column: 1/span 2;
}


.catalog-card-title {
  margin: 0;
  grid-column: 1/span 2;
}

.catalog-card-rate {
  display: block;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border: 4px solid #f2f2f2;
  background-color: #f2f2f2;
  padding: 3px 17px;
  border-radius: 4px;
  text-transform: uppercase;
}

.catalog-stars {
  display: block;
  background-image: url("../images/catalog/rate_star_1.svg");
  background-position: center;
  background-repeat: space no-repeat;
  min-height: 17px;
}

.catalog-card-stars-1 {
  width: 18px;
}

.catalog-card-stars-2 {
  width: 42px;
}

.catalog-card-stars-3 {
  width: 66px;
}

.catalog-card-stars-4 {
  width: 89px;
}

.catalog-card-stars-5 {
  width: 113px;
}

/* End Каталог */



/* Пагинация */
.pagination {
  position: relative;
  display: block;
  margin-bottom: 60px;
}

.pagination-list::before {
  position: absolute;
  content: "";
  top: -40px;
  height: 1px;
  background-color: #e6e6e6;
  min-width: 1060px;
}

.pagination-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 1060px;
  margin: 0;
  list-style-type: none;
  gap: 8px;
  padding: 0;
}

.button-pagination {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  background-color: #82b3d3;
  border: none;
  border-radius: 4px;
  min-width: 60px;
  min-height: 60px;
  padding: 0 10px;
  cursor: pointer;
}

.button-pagination:active {
  color: rgba(255, 255, 255, 0.3);
}

.current-pagination {
  background-color: #f2f2f2;
  color: #000000
}

.empty-pagination {
  color: #000000;
  background-color: #ffffff;
}

/* End Пагинация */

/* End Main-catalog */

/* Рассылка */
.newsletter {
  padding: 96px 10px 104px 10px;
  text-align: center;
}

.newsletter-with-background {
  background-color: #82b3d3;
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.newsletter-title {
  margin: 0;
  margin-bottom: 20px;
  letter-spacing: 2px;
  transform: translate(4px, -3px);
  text-transform: uppercase;
}

.newsletter-description {
  margin: 0;
  margin-bottom: 54px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

.input-newsletter {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  min-width: 452px;
  min-height: 52px;
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
}

/* End Рассылка */

/* End Main */


/* Footer */
.page-footer {
  padding-top: 45px;
  padding-bottom: 30px;
}

.page-footer-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  gap: 22px;
}

.phone {
  font-size: 40px;
  font-style: normal;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  width: 330px;
}

.phone:focus {
  color: #756157;
  outline: 3px solid #83b3d3;
}

.phone:hover {
  color: #756157;
}

.phone:active {
  color: #7561574d;
}

.phone:visited {
  text-decoration: none;
}


.social-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  gap: 6px;
  margin: 0;
}

.social-button {
  padding: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #83b3d3;
}

.social-button:focus {
  outline: 3px solid #83b3d3;
  color: #68a2ca;
}

.htmlacademy-logo-link {
  color: #000000;
}

.htmlacademy-logo-link:focus {
  outline: 3px solid #83b3d3;
  color: #756157;
}

.footer-logo {
  display: block;
  margin: 0;
}

.footer-logo:hover {
  color: #68a2ca;
}

.footer-logo:active {
  color: rgba(104, 162, 202, 0.3);
}

.htmlacademy-logo {
  display: block;
}

.htmlacademy-logo:hover {
  color: #756157;
}

.htmlacademy-logo:active {
  color: rgba(117, 97, 87, 0.3);
}

/* End Footer */

/* Модальное окно */
.modal-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 9;
}

.modal-reservation {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  min-width: 717px;
  border-radius: 4px;
}

.modal-title {
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 64px;
  padding-right: 40px;
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 62px;
  width: 53px;
  height: 53px;
  border: 1px solid transparent;
  background-color: #f2f2f2;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(11px, 4px);
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  outline: 2px solid #83b3d3;
  background-color: #e6e6e6;
}

.modal-close-button:active {
  background-color: #e6e6e6;
  color: #808080;
}

.modal-form-reservation {
  display: grid;
  grid-template-columns: 247px 1fr;
  min-width: 577px;
}

.modal-wrapper-date {
  position: relative;
  display: flex;
  width: 577px;
  align-items: center;
  margin-bottom: 4px;
}

.modal-wrapper-category {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}

.modal-input-wrapper {
  display: flex;
}

.modal-children {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-left: 44px;
  margin-right: auto;
}


.modal-field-group:nth-child(1),
.modal-field-group:nth-child(2) {
  grid-column: 1/-1;
}

.modal-input-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-right: auto;
}

.modal-input-description {
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  margin-left: 158px;
  margin-bottom: 23px;
  max-width: 335px;
}


.modal-date-input {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  min-width: 440px;
  height: 48px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  padding: 12px 36px 12px 20px;
}

.modal-date-input:focus {
  outline: 3px solid #83b3d3;
  background-color: #e6e6e6;
}

.modal-date-input:hover {
  background-color: #e6e6e6;
}

.button-calendar {
  position: absolute;
  padding: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  right: 16px;
  opacity: 0.3;
}

.button-calendar:hover {
  color: #0490ed;
}

.button-calendar:focus {
  outline: 2px solid #83b3d3;
  opacity: 1;
}

.button-calendar:active {
  opacity: 0.3;
}

.modal-category-input {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  appearance: none;
  border: none;
  background-color: #f2f2f2;
  width: 30px;
  min-height: 48px;
}

.modal-category-input:focus {
  border: 3px solid #83b3d3;
  outline: none;
  background-color: #e6e6e6;
}

.modal-category-input:hover {
  background-color: #e6e6e6;
}

.button-toggle-lower {
  min-width: 40px;
  min-height: 48px;
  padding: 0;
  border-radius: 4px 0 0 4px;
}

.minus-svg,
.plus-svg {
  display: block;
  color: rgba(117, 97, 87, 0.3);
  margin: auto;
}

.button-toggle-greater {
  min-width: 40px;
  min-height: 48px;
  padding: 0;
  border-radius: 0 4px 4px 0;
}

.minus-svg:hover,
.plus-svg:hover {
  color: #000000;
}

.minus-svg:focus,
.plus-svg:focus {
  outline: 3px solid #82b3d3;
}

.minus-svg:active,
.plus-svg:active {
  opacity: 0.2;
  outline: none;
}


.button-tooltip {
  width: 26px;
  height: 26px;
  margin-left: 11px;
  margin-top: 4px;
  border-radius: 50%;
  border: none;
  background-color: #68a2ca;
  background-image: url("../images/icons/tooltip.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.button-tooltip:hover {
  background-color: #83b3d3;
}

.button-tooltip:hover + .tooltip-text,
.button-tooltip:focus + .tooltip-text {
  display: block;
}

.button-tooltip:active {
  opacity: 0.6;
}

.tooltip {
  position: relative;
}

.tooltip-text {
  display: none;
  position: absolute;
  top: calc(100% + 8px);
  left: 50%;
  transform: translateX(-50%);
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  padding: 19px 18px 18px 22px;
  border-radius: 10px;
  width: 256px;
  min-height: 143px;
  z-index: 8;
}


/* Уголок тултипа */
.tooltip-text::before {
  position: absolute;
  content: "";
  top: -9px;
  left: 118px;
  width: 19px;
  height: 9px;
  background-image: url("../images/dark-triangle-tooltip.svg");
  background-repeat: no-repeat;
}

/* End Уголок тултипа */

.modal-category-input::-webkit-outer-spin-button,
.modal-category-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
  appearance: none;
}

.modal-window-close {
  display: none;
}

/* End Модальное окно */
